@*
    Partial view: Data (資料集)
*@
<div class="card mb-3">
    <div class="card-body">
        <h4>資料集下載</h4>
        <p>下列為本次競賽可使用的資料檔案。請務必遵守資料使用規範。</p>

        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        train-classification.zip
                        <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Download", "Competition", new { file = "train-classification" })">訓練資料下載 - 腫瘤分類辨識</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        train-segmentation.zip
                        <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Download", "Competition", new { file = "train-segmentation" })">訓練資料下載 - 腫瘤切割辨識</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>資料說明</h5>
                <p>
                    此資料集包含：<br />
                    <ul>
                        <li>6,000 張 T1 加權 MRI 影像</li>
                        <li>四個類別：膠質瘤（Glioma）、腦膜瘤（Meningioma）、腦下垂體腫瘤（Pituitary Tumor）以及無腫瘤（No Tumor）</li>
                        <li>由醫師與放射科醫師驗證的逐像素（pixel-wise）分割標註遮罩</li>
                        <li>三個解剖切面：軸向（Axial）、冠狀（Coronal）與矢狀（Sagittal）</li>
                        <li>乾淨且經過分層處理的訓練集（5,000 筆）與測試集（1,000 筆）</li>
                    </ul>                    
                </p>
            </div>
        </div>
    </div>
</div>
