@model lccnet_competition.ViewModels.LeaderboardViewModel

<ul class="nav nav-tabs mb-3" id="leaderboardTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active"
                id="classification-tab"
                data-bs-toggle="tab"
                data-bs-target="#classification"
                type="button"
                role="tab">
            分類任務
        </button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="segmentation-tab"
                data-bs-toggle="tab"
                data-bs-target="#segmentation"
                type="button"
                role="tab">
            影像切割任務
        </button>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active"
         id="classification"
         role="tabpanel">
        @await Html.PartialAsync(
        "_LeaderboardClassification",
                Model.ClassificationLeaderboard)
    </div>

    <div class="tab-pane fade"
         id="segmentation"
         role="tabpanel">
        @await Html.PartialAsync(
                "_LeaderboardSegmentation",
                Model.SegmentationLeaderboard)
    </div>
</div>
