@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">聯成電腦 - Python影像辨識與機器學習</h1>
    <p>歡迎同學一起來體驗資料科學競賽帶給我們的大腦活化吧！！！！</p>
</div>

<section id="latest-news" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="h4">最新消息</h2>
                <p class="text-muted">掌握網站最新動態與公佈事項</p>
            </div>

            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div>
                            <p class="fw-bold">影像切割訓練資料檔案已開放下載</p>
                            <div class="small text-muted">請同學至 競賽→資料集 分頁下載</div>
                        </div>
                        <span class="badge bg-primary rounded-pill">2025-12-30</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div>
                            <p class="fw-bold">開發環境預約功能已進入測試階段</p>
                            <div class="small text-muted">歡迎同學先行測試，正式啟用於 2026-01-03 00:00 起</div>
                        </div>
                        <span class="badge bg-secondary rounded-pill">2025-12-30</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
